certifi
charset-normalizer
cmake
colorama
executorch
fbgemm-gpu
filelock
fsspec
idna
intel-openmp
jinja2
lit
markupsafe
mkl
mpmath
networkx
numpy
packaging
pillow
pytorch-triton
pytorch-triton-rocm
requests
sympy
tbb
torch
torch-cuda80
torch-model-archiver
torch-tb-profiler
torchao
torchaudio
torchcsprng
torchdata
torchdistx
torchmetrics
torchrec
torchrec-cpu
torchserve
torchtext
torchtune
torchvision
tqdm
triton
typing-extensions
urllib3